# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Android signing (nao subir)
**/key.properties
**/*.jks
**/*.keystore
**/*.pem
android/local.properties

# Logs / temp
*.log
_aab*
tools/seed_demo_users/node_modules/
